.flexColumns {
	
	h3{
		text-align: center;
	}

	.wrapper {
		display: flex;  
		width: 100%;
		position: relative;

		/*background-position: center center;*/
		background-repeat: no-repeat;
		background-size: cover;

		/*background-image: url("/myJob/movementmeetslife/images/banners/water_contact.jpg");*/
		
		& > * {
		  padding: 10px;
		}
		
		.bg-overlay{
	        background:#282c37; 
	        opacity:0.5;

	        width: 100%;
	        position: absolute;
	        left: 0;
	        top: 0;
	        height: 100%;
	        z-index: 1;
    	}
	}

	aside{
		position: relative;
    	z-index: 2;
		
		img{
			/*max-width: none;*/
			max-width: 400px;
			margin-bottom: 1rem;
		 	
			&.hide-image-mobile{
				@media screen and (max-width: 640px){
					display: none;
				}
				
			}
		}
		h4{
			margin: 1rem 0 1rem 0;
			font-weight: bold;
		}
		p{
			margin-top: 1rem;
		}
	}
	
	.separator{
		height: 0px;

		&::after{
			display: block;
		    content: '';
		    width: 6rem;
		    height: 2px;
		    border-radius: 2px;
		    background-color: inherit;
		    margin: 0 auto;
		}
	}
}
